@using Timesheet.Models.Dto
@model TimesheetEntryDto

<form asp-action="RowAction" method="post">
    <tr>
        <td>
            <input asp-for="Id" type="hidden" />
            #@Model.Id
        </td>
        <td>
            <input asp-for="UserId" class="form-control" min="1" />
        <td>
            <input asp-for="ProjectId" class="form-control" min="1" />
        </td>
        <td>
            <input asp-for="Date" type="date" class="form-control" />
        </td>
        <td>
            <input asp-for="Hours" type="number" class="form-control" step="0.1" />
        </td>
        <td>
            <input asp-for="Description" class="form-control" />
        </td>
        <td>
            <button type="submit" name="action" value="update" class="btn btn-success btn-sm">Update</button>
            <button type="submit" name="action" value="delete" class="btn btn-danger btn-sm">Delete</button>
        </td>
    </tr>
</form>